
$color-white: #eceff9;
$color-dark: #94839d;
$color-night: #64526f;
$color-light:#F7EFE5;
$color-background: rgba(183, 162, 137, 0.105);

$font-primary: "Raleway", sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-tertiary: 'Calligraffitti';


$text-small-p: 0.8em;
$text-medium-p: 1em;
$text-large-p: 1.4em;
$text-extra-large-p: 1.8em;

$text-small-title: 1.4em;
$text-medium-title: 1.8em;
$text-large-title: 2.8em;
$text-extra-large-title: 3.5em;