.sidebar {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: rgba(100, 82, 111, 0.0470588235);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px;
  z-index: 999;
}
.sidebar .nav-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
.sidebar .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.sidebar .links h2 {
  cursor: pointer;
}
.sidebar .container-icon-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  gap: 3px;
}
.sidebar .container-icon-nav svg {
  cursor: pointer;
}

@media (max-width: 450px) {
  .sidebar {
    padding: 15px 20px;
  }
  .sidebar .links {
    gap: 8px;
  }
  .sidebar .links h2 {
    font-size: 16px !important;
    margin: 0;
  }
}
.mip-form {
  border-radius: 10px;
  box-shadow: 0 0 3px #94839d;
  padding: 20px;
  width: 80%;
}

.mip-form input,
.mip-form textarea {
  background-color: rgba(183, 162, 137, 0.105) !important;
  border: none;
  color: #94839d;
  margin-bottom: 20px;
}

.mip-form input:focus,
.mip-form textarea:focus {
  box-shadow: 0 0 3px #94839d;
}

.mip-form button {
  background-color: #94839d;
  border: none;
  color: #eceff9;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content {
  background-color: rgba(183, 162, 137, 0.105);
  color: #94839d;
  font-family: "Raleway", sans-serif;
  padding: 0px 20px;
  min-width: 800px;
  border-radius: 30px;
  text-align: center;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 2.8em;
}

.modal-body .container {
  margin: 0;
  padding: 0;
}
.modal-body .container .row {
  margin-bottom: 10px;
}

.container-video video {
  max-width: 80%;
}

.modal-footer {
  border-top: none;
}
.modal-footer .btn {
  padding: 10px 20px;
  box-shadow: 0 0 3px #94839d;
  justify-content: flex-start;
  color: #F7EFE5;
  background-color: #94839d;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.modal-footer .btn:hover {
  background-color: rgba(183, 162, 137, 0.105);
  color: #94839d;
}

.modal.show .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 739px) {
  .modal-content {
    min-width: auto;
  }
}
/* sass --watch _main.scss output.css */
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #94839d;
}

.cursive {
  font-family: "Calligraffitti" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bold !important;
  color: #64526f !important;
}

a {
  color: #94839d !important;
  text-decoration: none !important;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #F7EFE5 !important;
}

.slide-from-left, .button.slide-from-left {
  transform: translateX(-100%);
  opacity: 1;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  visibility: hidden;
}

.slide-from-right {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  visibility: hidden;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.scale-up {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.dark {
  color: #64526f !important;
}

.text-center {
  text-align: center !important;
}

.button {
  padding: 10px 20px;
  box-shadow: 0 0 3px #94839d;
  color: #94839d;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #94839d;
  color: #eceff9;
}
.button:hover a {
  color: #eceff9 !important;
}

svg {
  color: #94839d;
}

.small-title {
  font-size: 1.4em;
}

.medium-title {
  font-size: 1.8em;
}

.big-title {
  font-size: 2.8em;
}

.very-big-title {
  font-size: 3.5em;
}

.small-p {
  font-size: 0.8em;
}

.medium-p {
  font-size: 1em;
}

.big-p {
  font-size: 1.4em;
}

.very-big-p {
  font-size: 1.8em;
}

/*# sourceMappingURL=output.css.map */
