.container-project-organism{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-project{
    display: flex;
    justify-content: center;
    padding: 0!important;
}
.row-project-section{
    justify-content: center;
    text-align: center;
}
@media (max-width: 550px){
    .row-project-section{
        padding: 0;
        padding-bottom: 5rem;
    }
}