.container-intro-home {
    padding: 2em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container-image-landing{
    position: relative;
    width: auto;
    height: 420px;
    border-radius: 30% 70% 70% 30% / 30% 47% 53% 70%;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.profile-image-landing {
    position: absolute;
    top: -50px;
    right: 0;
    left: 0;
    bottom: 0;
    transition: filter 0.3s ease-in-out, transform 1s ease-in-out;
    filter: grayscale(100);
}

.profile-image-landing:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

@media (max-width: 550px) {
    .container-text-home{
        width: 100%;
        text-align: center;
    }
    .container-intro-home{
        padding: 6rem 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .profile-image-landing{
        width: 100%;
    }
    .quote-container{
        text-align: center!important;
    }
    .container-image-landing{
        width: auto;
        height: 250px;
    }
}